#editDiv{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: grey;
  height: 50%;
  width: 70%;
};
#editDiv div{
  /* float: left; */
}

#editArgs{
  width: 100%;
  font-family: monospace;
  /* font-weight: bold; */
}

#jobTable{
  border-spacing: 0;
  border: 1px solid;
  font-family: sans-serif;
}

#jobTable tr:nth-child(even){
  border-top: 1px solid;
  background-color: rgb(215, 229, 255);
}

#jobTable tr:hover{
  border-top: 1px solid;
  background-color: rgb(61, 91, 158);
  color: white;
}

#jobTable td:nth-last-child(n+4){
  padding: 0 0.5em;
  /* background-color: black; */
}

#jobTable td:nth-last-child(2) + #jobTable td:nth-last-child(3){
  padding: 0 0.5em;
  background-color: black;
}

#jobTable td button{
  background-color: transparent;
  border: none;
  color:inherit;
}

#jobTable td:nth-child(3){
  font-family: monospace;
}
